:root{
    --donda-gray: #A1A1A1;
    --donda-white: #d0d0dA;
    --outline:   0px 0px 0 var(--donda-gray),
    -1px -1px 0 var(--donda-gray),  
     1px -1px 0 var(--donda-gray),
     -1px 1px 0 var(--donda-gray),
      1px 1px 0 var(--donda-gray);

      --animation-duration: 10s;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(./BebasNeue-Regular.ttf);
    font-display: swap;
}



*{
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{ 
    color: var(--donda-gray);
}

a:hover{
    text-decoration: none;
}

body{
    background-color: black;
    color: var(--donda-gray);
    width: 100%;
 
}

.jail, .jail_home {
    overflow-x: hidden;
    opacity: 1;
    transition: all 1s ease;   
}

h1{ 
    font-size: 18vw;
    line-height: 0.9;
    /* white-space: nowrap; */
}

.donda{
    display: flex;
    transition: all 1s ease;
    animation: hurricane var(--animation-duration) linear  infinite  ;
    transform: translateX(0);
    white-space: nowrap;
    width: max-content;
    animation-play-state: paused;
}


.donda:nth-child(even){
    transform: translateX(-50%);
    animation: hurricane_right var(--animation-duration) linear infinite ;
    animation-play-state: paused;
}

.jail_home {
    opacity: 1;
}
.jail_home .donda{
    animation-play-state: running;
}
.donda__container{
    display: flex;
    transition: all 1s ease;
}

.donda__outline{
    color: black;
    text-shadow: var(--outline);
    display: inline-block;
    margin: 0 20px;
}

h1 .counter{
    color: var(--donda-white)
}


@keyframes hurricane {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }
@keyframes hurricane_right {
    from   { transform: translateX(-50%); }
    to { transform: translateX(0%); }
  }



h3.counter{
    color: var(--donda-white);
    text-align: center;
    font-size: 60px;
    margin: 0;
}

.main-nav{
    margin-top: 2vh;
}
.main-nav ol{
    list-style: none;
}

.main-nav ol li{
    display: inline-block;
    margin-right: 10px;
    font-size: 5vh;
}

@media screen and (max-width: 768px) {
    h1{ 
        font-size: 35vw;
        line-height: 0.8;
        white-space: normal;
    }

    .main-nav ol li{
        font-size: 3vh;
    }
    
}