:root {
	--donda-gray: #a1a1a1;
	--donda-white: #d0d0da;
	--outline: 0px 0px 0 var(--donda-gray), -1px -1px 0 var(--donda-gray),
		1px -1px 0 var(--donda-gray), -1px 1px 0 var(--donda-gray),
		1px 1px 0 var(--donda-gray);

	--animation-duration: 15s;
	--gap: 1rem;
}

@font-face {
	font-family: "Bebas Neue";
	src: url(./BebasNeue-Regular.ttf);
	font-display: swap;
}

* {
	font-family: "Bebas Neue", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--donda-gray);
}

a:hover {
	text-decoration: none;
}

body {
	background-color: black;
	color: var(--donda-gray);
	width: 100%;
}

.jail,
.jail_home {
	overflow: hidden;
	opacity: 1;
	display: flex;
	position: relative;
	gap: var(--gap);
	user-select: none;
}

h1 {
	font-size: 200px;
	line-height: 0.9;
}

/* .donda {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	animation: hurricane var(--animation-duration) linear infinite;
	min-width: 100%;
	animation-play-state: paused;
} */

/* .donda:nth-child(even) {
	transform: translateX(-50%);
	animation: hurricane_right var(--animation-duration) linear infinite;
	animation-play-state: paused;
} */

.jail_home {
	opacity: 1;
}
.donda__container {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
	animation: hurricane var(--animation-duration) linear infinite;
	animation-play-state: paused;
	list-style-type: none;
	/* background-color: yellow; */
}

.jail:nth-child(even) .donda__container {
	animation-direction: reverse;
}

.jail_home .donda__container {
	animation-play-state: running;
}

.donda__outline {
	color: black;
	text-shadow: var(--outline);
	display: inline-block;
	margin: 0 20px;
}

h1 .counter {
	color: var(--donda-white);
}

.counter.god__breathed {
	animation: moon 3s ease-in-out infinite alternate;
}

@keyframes moon {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.3;
	}
}
@keyframes hurricane {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

h3.counter {
	color: var(--donda-white);
	text-align: center;
	font-size: 60px;
	margin: 0;
}

.main-nav {
	margin-top: 2vh;
}
.main-nav ol {
	list-style: none;
}

.main-nav ol li {
	display: inline-block;
	margin-right: 10px;
	font-size: 5vh;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 35vw;
		line-height: 0.9;
		white-space: normal;
	}

	.main-nav ol li {
		font-size: 3vh;
	}
}
